# .devcontainer/docker-compose.yml
services:
  open-tutor:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ..:/workspace:cached
      - go-pkg:/home/vscode/go
    command: sleep infinity
    networks:
      - dev_net
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined

  localstack:
    image: localstack/localstack:latest
    environment:
      - SERVICES=s3,sqs,dynamodb,lambda,iam,sts
      - DEBUG=1
      - LAMBDA_EXECUTOR=docker
      - DEFAULT_REGION=us-west-2
      - DOCKER_HOST=unix:///var/run/docker.sock
    ports:
      - "4566:4566"
      - "4571:4571"
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - dev_net
    depends_on:
      - postgres
      - pgadmin

  postgres:
    image: postgres
    restart: unless-stopped
    shm_size: 128mb
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: password
      POSTGRES_DB: opentutor
    volumes:
      - "../backend/configs/pgsql:/docker-entrypoint-initdb.d/"
    networks:
      - dev_net

  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=dev@opentutor.io
      - PGADMIN_DEFAULT_PASSWORD=password
      - PGADMIN_SERVER_JSON_FILE=/pgadmin/servers.json
    networks:
      - dev_net
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - "../.devcontainer/configs/pgadmin:/pgadmin"

networks:
  dev_net:
    driver: bridge

volumes:
  # Used to cache Go packages and build cache to prevent:
  # - Repeated downloads of Go dependencies
  # - Rebuilding packages on every container restart
  go-pkg:
