@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700');
@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--purple-very-light: #e7e4f1;
	--purple-light: #7261a8;
	--purple-neutral: #5c4e89;
	--purple-dark: #453a69;
	--purple-very-dark: #231d34;

	--yellow-very-light: #fdf8ed;
	--yellow-light: #f4d390;
	--yellow-neutral: #ebad33;
	--yellow-dark: #a4771e;
	--yellow-very-dark: #5d4109;

	--font-size: 16;
}
